body{
  margin: 0;
  font-family: arial;
  
}

.container{
  width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* page-header start */

  .page-header{
    width: 100%;
    min-height: 323px;
    background-color: #445162;
    padding: 50px 50px 51px 50px; 
    box-sizing: border-box;
    color: #ffffff;
  }

  .page-header::after{
    content:"";
    display: block;
    width: 100%;
    clear:both;
  }

  .page-header-wrp{
    width: 458px;
    float: left;
    /* margin: 0 253px 0 0; */
  }

  .page-header-title{
    margin:0 0 51px 0;
    font-size: 60px;
    line-height: 0.8;
    font-weight: 400;
    min-height: 44px;
  }

  .page-header-list{
    margin:0 0 0 0;
    padding:0 0 0 0;
    list-style: none;
    font-size: 20px;
    line-height:33px;
    font-weight:400;
  }

  .page-header-list-item{
    position: relative;
    padding: 0 0 0 35px;
    box-sizing: border-box;
  }

  .page-header-list-item::before{
    content:"";
    display:block;
    width: 25px;
    height: 19px;
    position: absolute;
    top: 6px;
    left: 0px;
    background-image:url(../img/check_icon.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    /* margin: 0 0 17px 0; */
  }

  .page-header-list-point{
    position: relative;
    padding: 0 0 0 35px;
    box-sizing: border-box;
  }

  .page-header-list-point::before{
    content:"";
    display:block;
    width: 25px;
    height: 19px;
    position: absolute;
    top: 6px;
    left: 0px;
    background-image:url(../img/check_icon.png);
    background-size:contain;
    margin: 0 0 0 0;
  }
  .page-header-img{
    display:block;
    width: 469px;
    height: 214px;
    float: right;
    margin: 0;
    background-image: url(../img/page_header_img.png);
  }

/* Page-header end */

.content{
  width: 100%;
  /* min-height: 2863px; */
  background-color: white;
}
/* about-product start */

.about-product{
width: 100%;
padding: 50px; 
box-sizing: border-box;
}
.about-product::after{
  content:"";
  display: block;
  width: 100%;
  clear:both;
}

.about-product-wrp{
  width: 653px;
  float: left;
}
.about-product-title{
  font-size: 30px;
  line-height: 24px;
  font-weight: 400;
  color: #445161;
  margin: 0 0 30px 0;
}
.about-product-txt{
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin: 0 0 20px 0;
}

.about-product-txt:last-child{
  margin: 0;
}

.about-product-img{
  display:block;
  width: 431px;
  height: 246px;
  float: right;
  margin: 0;
  background-image: url(../img/about_product_img.png);
}

/* about-product end */

/* dignity start */

.dignity{
  width: 100%;
  background-color: #F5F5F5;
  padding: 51px 50px 16px 50px;
  box-sizing: border-box; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dignity-title{
  width: 100%;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
  text-align: center;
  margin: 0 0 29px 0;
}

.dignity-item {
  width: 568px;
  min-height: 63px;
  margin: 0 22px 35px 0;
  padding: 0 0 0 41px;
  box-sizing: border-box;
  font-size: 15.5px;
  line-height: 24px;
  font-weight: 400;
  color: #333333; 
}

.dignity-item-title {
  display: block;
  outline: none;
  position: relative;
}

.dignity-item-title::-webkit-details-marker {
  display: none;
}

.dignity-item-title:before {
  content: "+";
  display: block;
  width: 32px;
  height: 32px;
  background-color: #445161;
  color: white;
  text-align: center;
  line-height: 32px;
  font-size: 32px;
  position: absolute;
  left: -41px;
}

details[open]>summary:before{
  content: "-";
}
/* dignity end */

/* screenshots start */

.screenshots{
  width: 100%;
  padding: 51px 66px 19px 50px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.screenshots-title{
  width: 100%;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
  margin: 0 0 34px 0;
}

.screenshots-block{
  width: 575px;
  margin: 0 0 30px 0;
  min-height: 150px;
}

.screenshots-block-img{
  display:block;
  width: 200px;
  height: 150px;
  float: left;
  background-image: url(../img/screenshots_img.png);
  margin: 0 15px 0 0;
}

.screenshots-block-txt{
  min-height: 151px;
}

.screenshots-block-txt-subtitle{
  margin: 0 0 15px 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #445161;
}

.screenshots-block-txt-desc{
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #333333;
  min-height: 108px;
  margin: 0;
}

/* screenshots end */

/* reviews start */

.reviews{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #f5f5f5;
  padding: 50px 18px 28px 50px;
  box-sizing: border-box;
}

.reviews-title{
  width: 100%;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
  text-align: center;
  margin: 0 0 35px 0;
}

.reviews-article{
  width: 575px;
  margin: 0 31px 23px 0;
  display: flex;
  justify-content: space-between;
  min-height: 121px;
}

.reviews-article-img{
  display: block;
  width: 76px;
  height: 76px;
  background-color: #445161;
  border-radius: 50%;
  margin: 0 28px 0 0;
}

.reviews-article-text{
  width: 480px;
  background-color: #EBEBEB;
  margin: 0;
  padding: 16px 21px 16px 16px;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 13.5px;
  line-height: 15px;
  font-weight: 400;
  font-style: italic;
  color: #333333;
  position: relative;
  min-height: 121px;
}

.reviews-article-text:before {
  content: "";
  display: block;
  border: 13px solid transparent; 
  border-right: 13px solid #EBEBEB;
  position: absolute;
  top: 23px;
  left: -26px;
}

.reviews-article-text-author{
  display: block;
  margin: 15px 0 0 0;
  font-size: 14px;
  line-height: 10px;
  font-weight: 400;
  color: #989898;
}

/* reviews end */

/* buy start */

.buy{
  width: 100%;
  padding: 50px 145px 50px 145px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  }

.buy-title{
  width: 100%;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
  text-align: center;
  margin: 0 0 29px 0;
}

.buy-card{
  border: 2px solid#445162;
  box-sizing: border-box ;
  background-color: #445162;
  border-radius: 5px;
  width: 300px;
  padding: 0 0 20px 0;
  margin: 0 45px 0 0;
}

.buy-card:last-child {
  margin: 0;
  }
  
.buy-card-subtitle{
  font-size: 24px;
  line-height: 23px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 16px;
  box-sizing: border-box;
}

.buy-card-price{
  display: block;
  background-color: white;
  font-size: 40px;
  line-height: 30px;
  font-weight: 400;
  color: #445162;
  padding: 18px;
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  
}

.buy-card-list{
  font-size: 13px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  list-style-position: inside;
  margin: 20px 0 0 0;
  padding: 0 0 0 20px;
  box-sizing: border-box;
}

.buy-card-button{
  display: block;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #445161;
  width: 260px;
  min-height: 40px;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  text-transform: uppercase;
  margin: 20px auto 0 auto;
  border: 0;
}

.buy-card-button:hover{
  background-color: grey;
  color: #ffffff;
}

.buy-card-button:active{
  background-color: #ffffff;
  color: #445161;
}

/* buy end*/

/* footer start*/

.page-footer{
  min-height: 535px;
  margin: 0;
}

.page-footer-contacts{
  background-color: #445162;
 
  padding: 53px 246px 49px 249px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  
}

.page-footer-contacts-title{
  width: 100%;
  text-align: center;
  font-size: 30px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  margin: 0 0 31px 0;
}

.page-footer-contacts-form{
  width: 500px;
  margin: 0 45px 0 0;
}

input:focus, 
textarea:focus{
  outline: 3px solid black;
  border-radius: 5px;
}

.page-footer-contacts-form-name{
width: 500px;
height: 40px;
border: none;
margin: 0 0 21px 0;
padding: 14px 10px;
box-sizing: border-box;
border-radius: 5px;
font-size: 16px;
line-height: 16px;
font-weight: 400;
color: #445162;
}

.page-footer-contacts-form-email{
width: 500px;
height: 40px;
border: none;
margin: 0 0 21px 0;
padding: 14px 10px;
box-sizing: border-box;
border-radius: 5px;
font-size: 16px;
line-height: 16px;
font-weight: 400;
color: #445162;
}

.page-footer-contacts-form-msg{
width: 500px;
height: 170px;
border: none;
margin: 0 0 21px 0;
padding: 14px 10px;
box-sizing: border-box;
border-radius: 5px;
font-family: arial;
font-size: 16px;
line-height: 16px;
font-weight: 400;
color: #445162;
}

.page-footer-contacts-form-btn{
  display: block;
  margin: 0 auto;
  width: 140px;
  min-height: 40px;
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #445162;
}

.page-footer-contacts-form-btn:hover{
  background-color: grey;
  color: #ffffff;
}

.page-footer-contacts-form-btn:active{
  background-color: #ffffff;
  color: #445161;
}

.page-footer-contacts-ikons{
  width: 240px;
}

.page-footer-contacts-ikons-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.page-footer-contacts-ikons-list-element{
  margin: 0 0 19px 29px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  position: relative;
}

.page-footer-contacts-ikons-list-element::before{
  content: "";
  display: block;
  border: 1px solid white;
  width: 26px;
  height: 26px;
  position: absolute;
  left: -29px;
}

.page-footer-contacts-ikons-list-element:last-child {
  margin: 0 0 32px 29px;
  }

.page-footer-contacts-links{
  display: flex;
  justify-content: space-between;
}

.page-footer-contacts-links-child{
  display: block;
  width: 42px;
  height: 42px;
  border: 1px solid white;
}

  .page-footer-copyright{
  background-color: #f5f5f5;
  color: #445162;
  font-size: 12px;
  line-height: 26px;
  text-align: center;
  min-height: 26px;
  }
